extend base

block content
  main.main
    .review-form
      h2.heading-secondary.ma-bt-lg Rating #{tour.name} Tour
      form.form.form--review(data-tour-id= tour._id)
        .form__group
          label.form__label(for='rating') Your rating
          input#rating.form__input(type='number', step='0.1', placeholder='Your rating', required)
        .form__group
          label.form__label(for='review') Your review
          input#review.form__input(type='text', placeholder='Enter your review', required)
        .form__group
          button.btn.btn--green Submit