extends base

block content
  main.main
    .manage-tours
      a.btn--manage(href='/tour-stats') Get tour statistics by difficulty
      a.btn--manage(href='/monthly-plan/2021') Get monthly plan
      .CUD-tour
        a.btn--manage(href='/add-tours') Add a new tour
        a.btn--manage(href='/update-tour') Update tour
        a.btn--manage(href='/delete-tour') Delete tour